# byte-compiled / optimized / DLL files
*.pyc
cycsat/config.ini
__pycache__/*

# Sublime files
cycsat-sublime.sublime-project
cycsat-sublime.sublime-workspace

# Other
testing.py
test_data/*
.ipynb_checkpoints/*
demos/*
*.db
*.tif
*.xml
notes/